$edgepadding: 0;

// @font-face {
// 	font-family: 'Avenir Light';
// 	src: url("../fonts/new/Avenir-Light-07.ttf");
// }
// @font-face {
// 	font-family: 'Avenir Book';
// 	src: url("../fonts/new/Avenir-Book-01.ttf");
// }
// @font-face {
// 	font-family: 'Avenir Medium';
// 	src: url("../fonts/new/Avenir-Medium-09.ttf");
// }
// @font-face {
// 	font-family: 'Avenir Heavy';
// 	src: url("../fonts/new/Avenir-Heavy-05.ttf");
// }
// @font-face {
// 	font-family: 'Avenir Black';
// 	src: url("../fonts/new/Avenir-Black-03.ttf");
// }
@font-face {
	font-family: 'Alba';
	src: url("../fonts/ALBA.ttf");
}
@font-face {
	font-family: 'Albas';
	src: url("../fonts/ALBAS.ttf");
}

$defaultFont: brandon-grotesque, sans-serif;//'Avenir Book', sans-serif;
$menuFont: brandon-grotesque, sans-serif;//'Avenir Heavy', sans-serif;
$headingOneFont: 'Alba', sans-serif;//brandon-grotesque, sans-serif;//'Avenir Heavy', sans-serif;
$headingFiveFont: brandon-grotesque, sans-serif;//'Avenir Medium', sans-serif;
$largeText: 'Alba', sans-serif;//brandon-grotesque, sans-serif;//'Avenir Medium', sans-serif;
$buttonFont: brandon-grotesque, sans-serif;//'Avenir Black', sans-serif;
$footerMenuFont: brandon-grotesque, sans-serif;//'Avenir Light', sans-serif;

$contactformTitleFont: 'Albas', sans-serif;

$fullScreenAlternatingBlockTitleFont: brandon-grotesque, sans-serif;//'Avenir Heavy', sans-serif;
$fullScreenAlternatingBlockContentFont: brandon-grotesque, sans-serif;//'Avenir Light', sans-serif;

$blockTitle: brandon-grotesque, sans-serif;//'Avenir Heavy', sans-serif;
$eventDateFont: brandon-grotesque, sans-serif;//'Avenir Black', sans-serif;
$venueBannerFont: brandon-grotesque, sans-serif;//'Avenir Black', sans-serif;

$extraBoldFont: brandon-grotesque, sans-serif;//'Avenir Black', sans-serif;
$boldFont: brandon-grotesque, sans-serif;//'Avenir Heavy', sans-serif;
$mediumFont: brandon-grotesque, sans-serif;//'Avenir Medium', sans-serif;

$brandPrimaryBgColour: #03D9F9; // cta boxes, etc.
$brandPrimaryTextColour: #d82ea3; // colour of text for cta boxes where the primary bg colour is used
$brandSecondaryBgColour: #fccea1; // colour of buttons
$brandSecondaryTextColour: #d82ea3; // colour of text that appears over the brand secondary BG
$brandAlternateSecondaryTextColour: #F6D4ED; // colour used for the event headers (dates)
$offwhite: #FFF5EC;
$lightenedBrandPrimaryBgColour: #BFE1F0;
$brandAlternateColour: #FDCEA2;
$footerColour: #f6d4ed url(../img/casette.png);

@import "components/header";
@import "components/socials";
@import "components/form";
@import "components/hero";
@import "components/panels";
@import "components/events";
@import "components/venue";
@import "components/mobilemenu";
@import "components/footer";

.highlight {
    @media(min-width: 992px) {
        background: #f6d4ed;
        color: $brandPrimaryTextColour;
    }
}

body {
    overflow-x: hidden;
    font-family: $defaultFont;
    font-weight: 500;
    // font-size: 12pt;
    // line-height: 16pt;
    // font-size: 18px;
    // line-height: 26px;
    font-size: 14px;
    line-height: 22px;
    // letter-spacing: 0.1em;
    // p, span { letter-spacing:  0.1em; }
    margin: 0 !important;
    background-color: #f6ff12;
    color: $brandPrimaryBgColour;//#3f362d;
    @media(min-width: 992px) {
        background-image: url(../img/bg2.png);
        background-repeat: no-repeat; 
        background-position: 100% -30px;
        // background-size: 100vw 560px;
        background-size: 950px;
    }
    @media(min-width: 1200px) {    
        background-size: 950px;// 75% 560px;
    }
    @media(min-width: 1400px) {    
        background-size: 950px;// 70% 560px;
    }
    &.menuOpen {
        overflow-y: hidden !important;
    }
    &.page-id-327, &.page-id-468 {
        footer {
            .newsletter {
                display: none !important;
            }
        }
    }
    .women {
        position: absolute;
        background: url(../img/lady.png);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 5;
        display: none;
        @media(min-width: 992px) {
            width: 270px;
            height: 520px;
            top: 133px;
            right: -70px;
            display: block;
        }
        @media(min-width: 1500px) {
            width: 300px;
            height: 600px;
            top: 53px;
            right: -90px;
        }
        @media(min-width: 1620px) {
            right: -40px;
        }
        @media(min-width: 1700px) {
            right: 0;
        }
    }
}
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
    color: $brandPrimaryBgColour;
}
h1,.h1 {
    font-size: 32pt;
    line-height: 40pt;
    font-family: $headingOneFont;//'Frank Ruhl Libre', serif;
    font-weight: bold;
}
h2,.h2 {
    font-size: 28pt;
    line-height: 24pt;
}

h3,.h3 {
    font-size: 25pt;
    line-height: 31pt;
}

h4,.h4, .h4 * {
    font-family: $headingFiveFont;//'Frank Ruhl Libre', serif !important;
    font-size: 20pt;
    line-height: 28pt;
    font-weight: bold;
}

h5,.h5, .h5 * {
    font-family: $headingFiveFont;//'Frank Ruhl Libre', serif !important;
    font-size: 18pt;
    line-height: 26px;
    font-weight: 500;
}

h6,.h6, .h6 * {
    font-family: $extraBoldFont;//'Frank Ruhl Libre', serif !important;
    font-size: 16pt;
    line-height: 18pt;
    font-weight: bold;
}

.button,
.page-numbers a {
    display: inline-block;
    background: $brandPrimaryBgColour;
    color: $brandPrimaryTextColour;
    line-height: 16pt;
    font-size: 18px;
    font-weight: 500;
    padding: 11px 20px;
    text-decoration: none;
    transition: 0.5s;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-family: $buttonFont;
    letter-spacing: 0.025em;
    @media(max-width: 767px) {
        width: 100%;
        text-align: center;
    }
    &:hover {
        color: $brandPrimaryBgColour !important;
        border-color: $brandPrimaryTextColour;
        background: $brandPrimaryTextColour;
        text-decoration: none;
    }
    &:visited, &:focus {
        color: $brandPrimaryTextColour;
    }
    &.button--minimal {
        background: transparent !important;
        color: $brandSecondaryBgColour !important;
        border: none !important;
        border-bottom: 2px solid $brandSecondaryBgColour !important;
        text-transform: lowercase;
        padding: 0 0 2px;
    }
}

.clover {
    // display: none !important;
    background-image: url(../img/blocks.svg);
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 3;
    width: 45px;
    height: 45px;
    // display: none;
    // @media(min-width: 1200px) {
    //     display:block;
    // }
    &.clover--alt {
        // background-image: url(../img/clover_alt.png);
    }
    &.clover--large {
        width: 90px;
        height: 90px;
    }
    &.clover--med {
        width: 65px;
        height: 65px;
    }
}

// @-webkit-keyframes rotating {
//   from {
//     -webkit-transform: rotate(0deg);
//     -o-transform: rotate(0deg);
//     transform: rotate(0deg);
//   }
//   to {
//     -webkit-transform: rotate(360deg);
//     -o-transform: rotate(360deg);
//     transform: rotate(360deg);
//   }
// }
// @keyframes rotating {
//   from {
//     -ms-transform: rotate(0deg);
//     -moz-transform: rotate(0deg);
//     -webkit-transform: rotate(0deg);
//     -o-transform: rotate(0deg);
//     transform: rotate(0deg);
//   }
//   to {
//     -ms-transform: rotate(360deg);
//     -moz-transform: rotate(360deg);
//     -webkit-transform: rotate(360deg);
//     -o-transform: rotate(360deg);
//     transform: rotate(360deg);
//   }
// }


// .rotating {
//     -webkit-animation: rotating 360s linear infinite;
//     -moz-animation: rotating 360s linear infinite;
//     -ms-animation: rotating 360s linear infinite;
//     -o-animation: rotating 360s linear infinite;
//     animation: rotating 360s linear infinite;
//     &.rotating--med {
//         -webkit-animation: rotating 90s linear infinite;
//         -moz-animation: rotating 90s linear infinite;
//         -ms-animation: rotating 90s linear infinite;
//         -o-animation: rotating 90s linear infinite;
//         animation: rotating 90s linear infinite;
//     }
//     &.rotating--fast {
//         -webkit-animation: rotating 60s linear infinite;
//         -moz-animation: rotating 60s linear infinite;
//         -ms-animation: rotating 60s linear infinite;
//         -o-animation: rotating 60s linear infinite;
//         animation: rotating 60s linear infinite;
//     }
// }