body.home {
    .block.block--events_block { background: #FFF; }
}
.block.block.block--events_block {
    background: #FFF;
    // padding-bottom: 60px;
    // @media(min-width: 992px) {
    //     padding-bottom: 110px;
    // }
    .container {
        position: relative;
        .clover {
            top: -74px;
            left: -30px;
            &.end {
                top: unset;
                bottom: -40px;
                left: unset;
                right: -30px;
            }
        }
    }
    .event__content__container {
        // * { color: $brandPrimaryTextColour; }
        // h4 {
        //     color: $brandPrimaryTextColour;
        //     font-weight: 900 !important;
        //     font-size: 23px !important;
        //     line-height: 23px !important;
        // }
        // .date {
        //     display: block;
        //     margin: 25px 0 25px;
        //     font-weight: bold !important;
        // }
        // .content {
        //     text-transform: none;
        // }
    }
    .event__container {
            @media(max-width: 992px) {
                padding-top: 30px;
            }
        &:not(.odd) {
            background: rgba(253, 206, 162, 0.4);
            // padding-top: 30px;
        }
    }
}
.page-numbers {
    padding-top: 60px;
    padding-bottom: 60px;
    background: $brandAlternateColour;
    @media(min-width: 992px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    a { 
        margin: 0 20px;
    }
}

// .page-numbers a {
//     display: inline-block;
//     background: #c0a37e;
//     color: #fff;
//     line-height: 16pt;
//     font-size: 18px;
//     font-weight: 300;
//     padding: 11px 20px;
//     text-decoration: none;
//     transition: 0.5s;
//     border: 1px solid transparent;
//     text-transform: uppercase;
//     font-family: "Avenir Black",sans-serif;
//     letter-spacing: 0.025em;
//     margin: 0 20px;
//     &:hover {
//         color: #c0a37e !important;
//         border-color: #c0a37e;
//         background: #FFF;
//         text-decoration: none;
//     }
// }

body.single.single-events, .block.block--events_block {
    
    main#primary {
        background: #FFF;
        padding: 50px 0;
    }
    .section_title {
        text-transform: uppercase;
        padding: 60px 0;
        @media(min-width: 992px) {
            padding: 90px 0;
        }
        font-family: $blockTitle;
        font-size: 18pt;
        line-height: 24pt;
        letter-spacing: 0.05em;
    }
    .noresults {
        font-family: $blockTitle;
        padding: 60px 0;
        font-size: 18pt;
        line-height: 24pt;
        letter-spacing: 0.05em;
    }
    .event__details {
        display: flex;
        flex-wrap: wrap;
        img {
            @media(max-width: 992px) {
                width: 100%;
            }
        }
        .clover {
            &.clover--large {
                top: -105px;
                right: -60px;
            }
            &.clover--med {
                top: 260px;
                right: -100px;
            }
            &.clover--small {
                bottom: 0;
                left: -80px;
            }
        }
        > div {
            padding: 0;
        }
        .block--header {
            background: $brandAlternateSecondaryTextColour;
            color: $brandPrimaryBgColour;
            height: 150px;
            // padding: 20px 35px 15px 20px;
            * {
                font-size: 54pt;
                line-height: 54pt;
                // letter-spacing: 0.025em;
                font-family: $eventDateFont;
                font-weight: 900;
            }
            .content {
                text-align: center;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;
                .block.month {
                    text-transform: uppercase;
                    font-size: 24pt !important;
                    line-height: 24pt !important;
                    text-align: center;
                }
            }
        }

        .event__content {
            background: transparent;
            // padding: 30px 0 50px 50px !important;
            text-transform: uppercase;
            display: flex;
            flex-wrap: wrap;
            @media(min-width: 992px) {
                flex-wrap: nowrap;
            }
            .event__content__container {
                padding-top: 30px;
                padding-bottom: 30px;
                text-align: center;
                @media(min-width: 992px) {
                    text-align: left;
                    // padding-bottom: 90px;
                    padding-left: 50px;
                    padding-right: 50px;
                }
                // font-size: 14pt;
                // line-height: 22pt;
                // font-weight: 300;
                // strong, b {
                //     font-weight: 400;
                // }
                * { color: $brandPrimaryTextColour; }
                h4, h1 {
                    font-weight: 900 !important;
                    font-size: 23px !important;
                    line-height: 23px !important;
                }
                .date {
                    display: block;
                    margin: 25px 0 25px;
                    font-weight: bold !important;
                }
                .content {
                    text-transform: none;
                }
                * {
                    font-size: 14pt;
                    line-height: 17pt;
                    // font-weight: initial;
                    font-family: $fullScreenAlternatingBlockContentFont !important;
                }
            }
            .event__image {
                padding: 0;
                .cta_button {
                    text-align: center;
                    margin: 0px 15px 30px;

                    @media(min-width: 992px) {
                        margin: 40px 0;
                    }
                }
            }
            h1 {
                font-size: 24pt;
                font-weight: normal;
                // line-height: 18pt;
                font-family: 'Oswald', sans-serif;
            }
            .venue {
                display: block;
                margin-bottom: 30px;
            }
        }
        &.odd {
            .event__content {
                background: #FFF;
            }
        }
    }
    .section__title__container {
        margin: 60px 0 35px;
        @media(min-width: 992px) {
            margin: 125px 0 35px;
        }
        &.back {
            margin: 80px 0 0;
        }
    }
    .section__title {
        font-family: $boldFont;
        color: $brandPrimaryTextColour; //#00703b;
    }
    .carousel {
        @media(max-width: 992px) {
            padding: 0 15px;
        }
    }
    .similar__events {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // margin-bottom: 150px;
        .event_container {
            clear: both;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0 15px;
            @media(min-width: 992px) {
                padding: 0;
            }
        }
        .event {
            &:hover {
                text-decoration: none;
            }
            flex: 100%;
            max-width: 100%;
            @media(min-width: 992px) {
                flex: 50%;
                max-width: 50%;
            }
            @media(min-width: 1200px) {
                flex: 33.333%;
                max-width: 33.333%;
            }
            * { color: $brandPrimaryTextColour !important; &:hover { text-decoration: none; } }
            .event__image {
                height: 420px;
                @media(min-width: 992px) {
                    height: 360px;
                }
                @media(min-width: 1200px) {
                    height: 16vw;
                }
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            .event__banner {
                display: flex;
                flex-direction: row;
                .event__info {
                    background: rgba(253, 206, 162, 0.4);
                    padding: 10px 15px;
                    width: 100%;
                    * {
                        font-size: 14pt;
                        font-weight: 500;
                        margin: 0;
                        line-height: 18pt;
                        text-transform: uppercase;
                    }
                    h3 { font-weighT: 900; }
                    .date {
                        display: block;
                    }
                }
            }
            .event__date {
                background: $brandAlternateSecondaryTextColour; // #e66041;
                color: $brandPrimaryBgColour !important;
                // padding: 20px 35px 15px 20px;
                padding: 15px 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                * {
                color:$brandPrimaryBgColour !important;
                &:hover {
                    text-decoration: none;
                }
                    font-size: 22pt;
                    line-height: 22pt;
                    letter-spacing: 0.025em;
                    font-family: $eventDateFont;// 'Frank Ruhl Libre', serif;
                    font-weight: bold;
                }
                .block.month {
                    font-size: 11pt;
                    line-height: 12pt;
                    text-transform: uppercase;
                }
                .content {
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    .block.month {
                        text-transform: uppercase;
                        font-size: 11pt !important;
                        line-height: 12pt !important;
                        text-align: center;
                    }
                }
            }
        }
    }
    .upcoming__events {
        .carousel-indicators {
            position: relative !important;
            z-index: 1;
            margin: 15px 0 0;
            li {
                height: 16px !important;
                width: 16px !important;
                border-radius: 100% !important;
                margin: 0 6px !important;
                border: 1px solid $brandPrimaryBgColour !important;
                &.active {
                    background: $brandPrimaryTextColour;
                }
            }
        }
        .carousel-item {
            img {
                width: 100%;
            }
        }
    }
}

body.single.single-events {
    .event__content {
        background: #f9f5f3 !important;
    }
    .hero {
        @media(min-width: 992px) {
            margin-bottom: 120px !important;
        }
    }
    .clover { display: none !important; }
}

.page-id-62,.page-id-399 {
    .block--content_block .content {
        padding-top: 0 !important;
        @media(min-width: 992px) {
            margin-left: 8.333333%;
        }
    }
    .block--content_block {
        .clover.clover--med {
            top: unset !important;
            bottom: -400px;
        }
    }
    .block_container.layout--events_block {
        background: #FFF;
        padding: 50px 0 0;
        .event__image {
            img {
                    height: 100%;
                    width: 100%;
                }
        }
        .pagination {
            background: #FFF;
        }
        div.event__wrapper {
            padding: 30px 0;
            &:first-of-type {
                padding-top: 0;
            }
            &:last-of-type {
                padding-bottom: 0 !important;
            }
            @media(min-width: 992px) {
                padding: 0;
            }
        }
        .event__content__container {
            padding: 40px !important;
            h4 {
                font-family: 'Oswald', sans-serif !important;
                font-weight: normal !important;
                // font-size: 14pt;
                // line-height: 18pt !important;
                margin: 0 !important;
            }
            .date, .venue {
                font-weight: normal;
            }
            + .event__image {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        .noresults {
            padding: 0px 0px 50px;
            h4 {
                color: $brandPrimaryTextColour;//#085c2c;
                font-family: $boldFont;
            }
        }
        .odd {
            background-color: #f7f3f0;
        }
        .mobile-image {
                width: 100%;
            
        }
        .event__content {
            background-color: transparent;
        }
        .event__button {
            padding: 40px 15px !important;
        }
        .cta_button {
            a {
                width: calc(100% - 15px);
            }
        }
        .page-numbers {
            margin-top: 90px;
            margin-bottom: 90px;
            // padding: 0;
        }

        // .page-numbers a {
        //     display: inline-block;
        //     background: #dc5536;
        //     color: #fcfcfc;
        //     line-height: 16pt;
        //     font-size: 18px;
        //     font-weight: 300;
        //     padding: 11px 20px;
        //     text-decoration: none;
        //     transition: 0.5s;
        //     border: 1px solid transparent;
        //     margin: 0 15px;
        //     &:hover {
        //         color: #dc5536 !important;
        //         border-color: #dc5536;
        //         background: #FFF;
        //         text-decoration: none;
        //     }
        //     &:visited, &:focus {
        //         color: #fcfcfc;
        //     }
        // }
    }

}
