footer {
    .row {
        @media(max-width: 992px) {
            margin: 0;
        }
    }
    background-image: url(../img/footer_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    * { color: #FFFFFF;  }
    a {
        text-transform: uppercase;
        &:hover, &:visited, &:focus { color: #FFFFFF; }
    }
    .menu_container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .menu {
        width: 100%;
        #footer {
            > li:first-of-type {
                max-width: 80px;
            }
        }
    }
    .newsletter {
        background: $footerColour;
        padding: 100px 0;
        background-size: 360px;
        background-repeat: no-repeat;
        background-position: 0px -140px;
        // padding: 40px 0;
        > .container > .row:first-of-type {
            padding: 0px 0px 40px;
        }
        h4 {
            // color: #070d2a;
            font-family: $contactformTitleFont;
            color: $brandPrimaryTextColour;
        }
    }
    > .container {
        padding: 80px 0;
    }
    .socials {
        padding: 40px 0;
        text-align: center;
        @media(min-width: 992px) {
        margin-top: 40px;
            padding: 0;
            text-align: left;
        }
        .social__container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media(min-width: 992px) {
                margin-top: 80px;
                max-width: 250px;
                flex-direction: row;
                margin-left: -10px;
            }
            .social_wrap {
                margin-bottom: 15px;
                @media(min-width: 992px) {
                    margin-bottom: 0;
                }
            }
            .title {
                color: #FFF !important;
                margin-bottom: 10px;
                font-size: 9pt !important;
                font-weight: 500 !important;
            }
        }

        .social__container {
            .social_wrap {
                a {
                    background-image: url(../img/social_icons_white.png);
                }
            }
        }
    }
    #footer, #footer-right {
        flex-direction: column;
        align-items: center;
        @media(min-width: 992px) {
            flex-direction: row;
            align-items: initial;
        }
        > li {
            @media(min-width: 992px) {
                flex: 20%;
                // padding: 0 15px;
            }
        }

        justify-content: space-between;
        padding: 0;
        margin: 0;
        list-style: none;
        > li {
            padding: 0;
            margin: 3px 0;
            width: 100%;
            text-align: center;
            @media(min-width: 992px) {
                text-align: left;
                margin: 0;
                padding: 0 15px 0 0;
            }
            list-style: none;
            ul {
                padding: 0;
                margin: 0;
                list-style: none;
            }
            a {
                // font-family: 'Oswald', sans-serif !important;
                // font-weight: normal;
                // font-size: 10pt;
                // letter-spacing: 0.05em;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .menu_wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @media(min-width: 992px) {
            flex-direction: row;
            .menu {
                // max-width: 120px;
            }
            ul { flex-wrap: wrap;
                li {
                    a {
                        font-family: $footerMenuFont;
                        font-size: 9pt;
                        letter-spacing: 0.05em;
                        line-height: 14pt;
                    }
                }
             }
        }
    }
    .logo__container {
        img {
            max-width: 190px;
        }
    }
    .copy {
        margin: 40px 0 0;
        @media(min-width: 992px) {
            margin: 155px 25px 0 0;
        }
        a {
            color: #FFF !important;//$brandPrimaryTextColour !important;
            font-family: $footerMenuFont !important;//'DIN Regular', sans-serif !important;
            // font-weight: normal;
            font-size: 9pt;
            letter-spacing: 0.05em;
            display: block;
        }
    }
}