.wpcf7-response-output {
    span {
        display: block;
        margin: 3px 0 3px 15px;
    }
    &.wpcf7-validation-errors {
        border: 2px solid red !important;
        color: red;
        padding: 30px 30px;
        margin: 30px 5px 0;
        * {
            color: red;
        }
    }
}
.form {
    input {
        // font-family: 'Oswald', sans-serif;
        font-weight: 500;
        font-size: 18px;
        border-radius: 0 !important;
        border: none !important;
        padding: 10px 15px;
        width: 100%;
        color: $brandSecondaryTextColour;
        &::placeholder {
            color: $brandSecondaryTextColour; 
        }
        &[type=button], &[type=submit] {
            background: $brandPrimaryBgColour;
            color: $brandSecondaryTextColour;
            line-height: 16pt;
            font-size: 18px;
            font-weight: 500;
            padding: 11px 20px;
            text-decoration: none;
            transition: 0.5s;
            text-transform: none;
            border: 1px solid transparent;
            // text-transform: uppercase;
            font-family: $blockTitle;
            letter-spacing: 0.025em;
            min-width: 120px;
            text-align: center !important;  
        }
    }
    
    &.form--contact {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        @media(min-width: 1200px) {
            flex-wrap: nowrap;
        }
        .field {
            position: relative;
            margin: 2px 0;
            width: 100%;
            @media(min-width: 1200px) {
                display: flex;
                flex-direction: row;
                margin: 0 2px;
                widtH: auto;
            }
            input {
                text-align: center;
                @media(min-width: 1200px) {
                    text-align: left;
                }
            }
            &.postcode {
                @media(min-width: 1200px) {
                    max-width: 110px;
                }
            }
            .wpcf7-not-valid-tip {
                display: none;
            }
            &.dob {
                width: 100%;
                margin: 40px 0 0;
                @media(min-width: 1200px) {
                    max-width: 180px;
                    margin: 0 2px;
                }
                input {
                    text-align: center;
                    padding: 10px;
                    margin: 2px 0;
                    @media(min-width: 1200px) {
                        margin: 0;
                    }
                }
                &:before {
                    content: 'DOB*';
                    // font-family: 'Oswald', sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    display: block;
                    position: absolute;
                    top: -25px;
                    left: 50%;
                    transform: translate(-50%, 0);
                }
                > span {
                    // margin: 2px 0;
                    @media(min-width: 1200px) {
                        margin: 0 2px;
                    }
                    &:first-of-type {
                        margin-left: 0;
                    }
                    &:last-of-type {
                        margin-right: 0;
                        min-width: 65px;
                    }
                    &.dobmonth {
                        min-width: 53px;
                    }
                }
            }
        }
        .ajax-loader {
            position: absolute;
            right: -20px;
        }

    }
}
.select2-selection__rendered {
    // font-family: 'Oswald', sans-serif;
    font-family: $defaultFont;
    font-weight: 500;
    // font-weight: 400;
    font-size: 18px;
    border-radius: 0 !important;
    border: none !important;
    // padding: 9px 0px 9px 15px;
    padding: 7px 20px 7px 15px !important;
    width: 100%;
    color: $brandPrimaryTextColour !important;
    // text-transform: uppercase;
}
.select2-dropdown {
    width: 160px !important;
}

.select2-dropdown * {
    width: 100% !important;
}
span.select2-selection.select2-selection--single {
    border: none !important;
    border-radius: 0 !important;
    height: 100%;
}

span.select2-selection__arrow {
    height: 100% !important;
    top: 0 !important;
}

.select2.select2-container {
    @media(min-width: 1200px) {
        max-width: 83px !important;
        min-width: 83px !important;

    width: 83px !important;
    }
    @media(max-width: 1200px) {
        text-align: center;
        width: 100% !important;
    }
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: $brandPrimaryBgColour !important;
    color: $brandPrimaryTextColour !important;
}

.select2-container--default .select2-results__option--selected {
    background: #f6ff12 !important;
    color: $brandSecondaryTextColour !important;
}

.select2-container--default .select2-results__option {
    // text-transform: uppercase;
}