.banner {
    background: $brandPrimaryBgColour;
    padding: 10px 15px;
    text-align: center;
    margin-bottom: 0px;
    * {
        // font-family: $menuFont;//'Oswald', sans-serif;
        color: $brandPrimaryTextColour;//#070d2a;
        margin: 0;
        font-weight: 500;
        // text-transform: uppercase;
    }
    @media(max-width: 992px) {
        display: flex;
        flex-direction: column;
        .social__container {
            order: -1;
        }
    }
    .message {
        @media(min-width: 992px) {
            margin: 0 100px;
        }
    }
    .social__container {
        @media(min-width: 992px) {
            position: absolute;
            right: 20px;
            top: 14px;
        }
    }
    a {
        text-decoration: underline;
        &:hover, &:visited, &:focus {
            color: #070d2a;
        }
    }
}
li#menu-item-230 {
    .mega-menu {
        @media(min-width: 992px) {
            right: unset !important;
        }
    }
}
.mega-menu {
    display: none;
    position: absolute;
    flex-direction: row;
    flex-wrap: wrap;
    @media(min-width: 992px) {
        width: 70%;
        top: 110px;
        right: 0;
    }
    @media(min-width: 1200px) {
        width: 50%;
        top: 110px;
        right: 110px;
    }
    background: $brandPrimaryTextColour;//#d4c8bf;
    padding: 8px;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        @media(min-width: 992px) {
            height: 35px;
            top: -35px;
        }
        @media(min-width: 1200px) {
            height: 55px;
            top: -48px;
        }
        // background: red;
    }
    > a {
        display: block;
        max-width: 50%;
        width: 100%;
        text-decoration: none;
        &:nth-of-type(3), &:nth-of-type(4) {
            .mega-menu__item {
                .content {
                    @media(min-width: 992px) {
                        background: rgba(66, 66, 66, 0.9);
                    }
                }
                &.menu--active, &:hover {
                    .content {
                        @media(min-width: 992px) { 
                            background: rgba(8, 92, 44, 0.6); 
                        }
                    }
                }
            }
        }
        .mega-menu__item {
            background-size: cover;
            background-repeat: no-repeat;
            .content {
                padding: 71px 58px;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 10pt;
                @media(min-width: 992px) {
                    background: rgba(216, 46, 163, 0.5);//rgba(120, 179, 148, 0.8);
                }
                line-height: 16pt;
                letter-spacing: 0.05em;
                transition: 0.5s;
                color: #FFF;
                span {
                    display: block;
                    text-decoration: none;
                }
                &:after {
                    content: 'view online';
                    display: inline-block;
                    clear: both;
                    text-transform: lowercase;
                    color: $brandPrimaryBgColour; // #e66041;
                    border-bottom: 1px solid $brandPrimaryBgColour; // #e66041;
                } 
            }
            // &.menu--active, 
            &:hover {
                .content {
                    @media(min-width: 992px) { 
                        background:rgba(216, 46, 163, 0.8);// rgba(8, 92, 44, 0.6); 
                    }
                }
            }
        }
    }
    &.style--long {
        > a {
            .mega-menu__item {
                .content {
                    padding: 71px 58px 200px 48px;
                    @media(min-width: 992px) {
                        min-height: 350px;
                    }
                }
            }
        }
    }
}
li {
    &.highlight, &.whatson, &.functions, &.location {
        > a {
            &.mega__menu__container {
                + .mega-menu {
                    > a {
                        &:nth-of-type(2) {
                            .mega-menu__item {
                                .content {
                                    @media(min-width: 992px) {
                                        background: rgba(246, 255, 18, 0.75);
                                        &:after {
                                            color: $brandPrimaryTextColour;
                                            border-bottom-color: $brandPrimaryTextColour;
                                        }
                                    }
                                }
                                // &.menu--active, 
                                &:hover {
                                    .content {
                                        @media(min-width: 992px) { 
                                        background: rgba(246, 255, 18, 0.8);

                                            &:after {
                                                color: $brandPrimaryTextColour;
                                                border-bottom-color: $brandPrimaryTextColour;
                                            }
                                         }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
body.scrolled {
    header {
        // padding-top: 20px;
        // padding-bottom: 20px;
        // background: #d4c8bf;
        background: $brandPrimaryBgColour;
        // background-image: url(../img/bg.png);
        // background-size: cover;
        // .navbar-brand {
        //     img:first-of-type { display: none; }
        //     img:last-of-type { display: block !important; }
        // }
        .pipe {
            background: $brandPrimaryTextColour !important;
        }
    }
}

header {

    @media(max-width: 992px) {
        .social__container {
            display: none;
        }
    }
    // padding-top: 40px;
    // padding-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    transition: 0.25s;
    top: 0;
    z-index: 20;
    .navbar-brand {
        margin-left: 0px;
        // @media(min-width: 992px) {
        //     position: absolute;
        // }
        @media(min-width: 992px) and (max-width: 1200px) {
            max-width: 110px;
            margin-left: -30px;
        }
        @media(min-width: 1370px) {
            // margin-left: 76px;
            margin-left: -100px;
        }
        // @media(min-width: 992px) and (max-width: 1200px) {
        //     img:first-of-type { display: none; }
        //     img:last-of-type { display: block !important; }
        // }
        z-index: 9;
        img {
            width: 150px;
            @media(min-width: 992px) {
                width: 180px;
            }
        }
    }
    #headerNav {
        @media(min-width: 992px) {
            height: 100px;
            padding-right:110px;
        }
        // @media(min-width: 1200px) {
        //     padding-right: 370px;
        // }
        // @media(min-width: 1370px) {
        //     padding-right: 270px;
        // }
        // @media(min-width: 1500px) {
        //     padding-right: 250px;
        // }
        // @media(min-width: 1690px) {
        //     padding-right: 110px;
        // }
    }
    .navbar {
        padding-top: 0;
        padding-bottom: 0;
        @media(min-width: 1200px) {
            min-height: 50px;
        }
        > .container {
            @media(min-width: 1200px) {
                padding: 0 !important;
            }
            .row > div {
                @media(min-width: 1200px) {
                    padding: 0 !important;
                }
            }
        }
        .navbar-nav {
            li {
                &.active {
                    // > a { text-decoration: underline; }
                    > a {
                        position: relative;
                        &:before {
                            content: '';
                            width: calc(100% - 15px);
                            height: 2px;
                            background: $brandPrimaryTextColour !important;
                            position: absolute;
                            bottom: 5px;
                            left: 15px;
                        }
                        &.mega__menu__container {
                            &:before {
                                width: calc(100% - 30px);
                            }
                        }
                    }
                }
                // > a {
                //     &.active {
                //         text-decoration: underline;
                //     }
                // }
                &.functions {
                    > .mega-menu > a .mega-menu__item .content {
                        &:after {
                            content: 'functions'; 
                        }
                    }
                }
                &.whatson {
                    > .mega-menu > a .mega-menu__item .content {
                        &:after {
                            content: 'whats on'; 
                        }
                    }
                }
                &.location {
                    > .mega-menu > a .mega-menu__item .content {
                        &:after {
                            content: 'see more'; 
                        }
                    }
                }
                > a {
                    &.nav-link {
                        text-transform: uppercase;
                        color: $brandPrimaryTextColour;
                        font-family: $menuFont;//'Oswald', sans-serif;
                        font-weight: 700;
                        font-size: 10pt;
                        letter-spacing: 0.05em;
                        padding-left: 15px;
                        padding-right: 15px;
                        @media(min-width: 992px) and (max-width: 1200px) {
                            font-size: 9pt;
                        }
                    }
                    &.mega__menu__container {
                        position: relative;
                        &:after {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 50px;
                            display: none;
                            background-image: url(../img/Arrow.png);
                            background-repeat: no-repeat;
                            background-size: 25px;
                            background-position: 30% 50%;
                        }
                    }
                }
                &:last-of-type {
                    > a {
                        &.nav-link {
                            padding-right: 0;
                        }
                    }
                }
                &:hover {
                    > a + .mega-menu {
                        display: flex;
                    }
                    > a.mega__menu__container {

                        &:after {
                                display: block !important;
                            }
                    }
                }
            }
        }
    }
    button.navbar-toggler {
        float: right;
        padding: 10px 0;
        outline: none !important;
            border:none !important;
        &:hover, &:focus, &:visited {
            outline: none !important;
            border:none !important;
        }
    }

    .pipe {
        background: $brandPrimaryBgColour;
        height: 3px;
        width: 30px;
        margin: 6px 0;
    }

    .row {
        width: 100%;
        margin: 0;
        > div {
            padding: 0;
            @media(max-width: 992px) {
                align-items: center;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
        @media(min-width: 1200px) {
            margin: 0;
            > div {
                padding: 0 15px;
            }
        }
    }

    .social__container {
        display: none;
        position: absolute;
        @media(min-width: 1200px) {
            top: 10px;
            display: block;
            right: 0px;
        }
        // @media(min-width: 1370px) {
        //     right: 180px;
        // }
        // @media(min-width: 1500px) {
        //     right: 150px;
        // }
        // @media(min-width: 1690px) {
        //     right: 20px;
        // }
    }
    .social__container {
        // display: none;
        position: absolute;
        .social_wrap {
            a {
                background-image: url(../img/social_icons_gold.png);
                margin: 0 2px;
                width: 17px;
                height: 17px;
                background-size: 60px;
                &.site--twitter {
                    background-position: -19px 0px;
                }
                &.site--instagram {
                    background-position: -43px 0px;
                }
            }
        }
    }
}

