#myVideo {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: -55px;
    // left: -75px;
}
@mixin containerheights {
    min-height: 560px;
    @media(min-width: 768px) {
        min-height: 560px;
    }
    @media(min-width: 992px) {
        min-height: 560px;
    }
    @media(min-width: 1200px) {
        min-height: 560px;
    }
}
#hero-slider {
    position: relative;
    .carousel-inner, .carousel-item {
        position: unset;
    }
    .carousel-item {
        .content {}
    }
}
.hero_container {
    padding: 0;
    @media(max-width: 992px) {
        max-width: calc(100% - 30px);
    }
}
body.single.single-events {


    .hero>.container {
        min-height: 560px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center
    }

    @media (min-width: 768px) {
        .hero>.container {
            min-height:560px
        }
    }

    @media (min-width: 992px) {
        .hero>.container {
            min-height:560px
        }
    }

    @media (min-width: 1200px) {
        .hero>.container {
            min-height:560px
        }
    }

    @media (max-width: 992px) {
        .hero>.container {
            max-width:calc(100% - 30px)
        }
    }
}
.hero {
    position: relative;
    z-index: 10;
    margin-top: 20px;
    video {
        &+div {
            &.row {
                position: relative;
                &:before {
                    content: '';
                    display: block;
                    // background-image: url(../img/play.png);
                    background-size: 70px;
                    background-repeat: no-repeat;
                    // background-position: center;
                    background-position: 50% 90%;
                    @media(min-width: 992px) {
                        background-position: center;
                    }
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                }
    
            }
        }
    }
    margin-bottom: 60px;
    @media(min-width: 992px) {
        margin-bottom: 120px;
    }
    &.push--down {
        @media(min-width: 992px) {
            margin-bottom: 240px;
        }
    }

    ol.carousel-indicators {
        bottom: 20px;
        li {
            height: 16px;
            width: 16px;
            border-radius: 100%;
            opacity: 1 !important;
            border: 1px solid transparent;
            &.active {
                background-color: #886844;
                border: 1px solid #c0a37e;
            }
        }
    }
    
    .carousel-item {
        @include containerheights;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
        .video {
            @include containerheights;
            overflow: hidden;
            // height: 560px;
            width: 100%;
            position: absolute;
            left: 15px;
        }
        .content {
            @include containerheights;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;//center;
            padding-bottom: 50px;
            color: #FFF;
            left: 0px;
            width: 100%;
            @media(max-width: 992px) {
                text-align: center;
            }
            @media(min-width: 992px) {
                position: absolute;
                margin-left: 0;
                left: 50px;
            }
            h1 {
                margin-bottom: 15px;
                color :#FFF;
                @media(max-width: 992px) {
                    padding: 0 30px;
                }
                br {
                    display: none;
                    @media(min-width: 1200px) {
                        display: block;
                    }
                }
            }
            p {
                font-size: 15pt;
                line-height: 18pt;
                letter-spacing: 0.025em;
            }
        }
        &.content--right {
            .content {
                left: initial;
                @media(min-width: 992px) {
                    left: initial;
                    right: -80px;
                }
                @media(min-width: 1200px) {
                    right: -80px;
                }
                @media(min-width: 1400px) {
                    right: -140px;
                }
            }
        }
    }
}