.fullscreen-menu {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 50;
    bottom: 0;
    right: 0;
    background-color: #222222;
    opacity: 0;
    visibility: hidden;
    // transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    // transition: 0.5s;
    padding: 35px 50px;
    .header {
        position: fixed;
        top: 0;
        padding: 35px 50px 15px;
        width: 100%;
        z-index: 10;
        @media(min-width: 992px) {
            width: calc(100% - 15px);
        }
        left: 0;
        img {
            position: relative;
            // top: -10px;
            max-width: 150px;
        }
        .close {
            position: relative;
            top: 0px;
            // right: -15px;
        }
    }
    // > img {
    //     position: fixed;
    //     top: 25px;
    //     left: 20px;
    // }
    .close {
        &:focus {
            outline: none !important;
        }
        // position: sticky;
        // top: 0;
        color: $brandPrimaryTextColour;
        font-weight: 500 !important;
        width: 120px;
        border: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex: 50%;
        align-items: center;
        opacity: 1 !important;
        text-shadow: none;
        div {display: inline-block; }
        .pipe__container {
            width: 50px;
            display: inline-flex !important;
            height: 100%;
            justify-content: start;
            flex-direction: column;
            .pipe {
                background: $brandSecondaryBgColour;
                height: 2px;
                width: 100%;
                margin: 4px 0;
            }
        }
        
        .text {
            font-size: 20px !important;
            padding: 10px 0 0 $edgepadding;
        }
    }
    .menu {
        opacity: 1;
        -webkit-transform: rotateX(0deg) !important;
        transform: rotateX(0deg) !important;
    }
    .navbar-nav {
        li {
            &.button {
                max-width: 133px;
                padding: 10px 0;
                margin-left: 10px;
                margin-top: 10px;
            }
            .sub-menu {
                list-style-type: none;
                margin: 20px 0 5px;
                padding: 10px 20px;
                background: #cbc6b4;
                position: relative;
                &:before,&:after {
                    bottom: 100%;
                    left: 35px;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                }
                &:before {
                    border-color: rgba(203, 198, 180, 0);
                    border-bottom-color: #cbc6b4;
                    border-width: 16px;
                    margin-left: -16px;
                }
                &:after {
                    border-color: rgba(203, 198, 180, 0);
                    border-bottom-color: #cbc6b4;
                    border-width: 10px;
                    margin-left: -10px;
                }
            }
            &:not(.button) {
                a {
                    padding: 0 10px !important;
                    font-weight: 600;
                    font-size: 12pt;
                    line-height: 30pt;
                    letter-spacing: 0.05em;
                    color: #003544;
                    margin: 6px 0;
                    display: block;
                }
            }
            @media(max-width: 992px) {
                &.cart-customlocation {
                    a {
                        .bubble {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    #headerNav {
        text-align: left;
        max-width: 440px;
        position: relative;
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        height: 100%;
        position: relative;
        width: 100%;
        display: flex;
        // flex-direction: column;
        justify-content: center;
        ul {
            padding: 0;
            margin: 60px 0;
            width: 100%;
            @media(min-width: 992px) {
                margin: 0;
            }
            li {
                display: block;
                margin: 15px 0;
                @media(min-width: 992px) {
                    margin: 40px 0;
                }
                // text-align: left;
                opacity: 0;
                &.current-menu-item {
                    > a {
                        // color: #F99D1C !important;
                        text-decoration: underline !important;
                    }
                }
                a {
                    padding: 0;
                    font-size: 16pt;
                    line-height: 20pt;
                    // font-family: $regular;
                    color: $brandPrimaryTextColour;
                    text-decoration: none !important;
                    text-transform: uppercase;
                }
            }
        }
        
    }
    .navbar-nav {
        margin: 0;
        // padding: 40px $edgepadding;
    }
}
body.menuOpen {
    
    .fullscreen-menu {
        background: $brandPrimaryBgColour;
        opacity: 1;
        visibility: visible;
        overflow-y: scroll;
        .header {
            background: $brandPrimaryBgColour;
        }
        // height: 100%;
        #headerNav ul {
            width: 100%;
            margin: 0 20px;
            li {
                animation: fadeInUp .5s ease forwards;
                // animation-delay: .35s;
            }
            .mega-menu {
                display: block !important;
                background: none !important;
                padding: 0 !important;
                position: initial !important;
                margin: 5px 30px;
                >a {
                    max-width: 100%;
                    color: $brandPrimaryTextColour;
                    .mega-menu__item {
                        &.menu--active {
                            text-decoration: underline !important;
                        }
                        background: none !important;
                        .content {
                            padding: 0 !important;
                            margin: 15px 0;
                            font-size: 16pt;
                            line-height: 18pt;
                            font-weight: normal !important;
                            color: $brandPrimaryTextColour;
                            &:after {
                                display: none !important;
                            }
                        }
                    }
                }
            }
        }
        .header {
            display: inline-block !important;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            a {
                width: 50%;
                display: inline-block;
            }
            .close {
                text-align: right;
                // font-family: 'Oswald';
            }
        }
    }
    .fullscreen-menu #headerNav {
        margin: 100px 0px 0;
        height: auto !important;
        max-width: calc(100% - 40px);
    }
    .social__container {
        margin: 30px 10px 40px;
        a.social__site {
            background-image: url(../img/social_icons_gold.png);
        }
        .social_wrap {
            margin: 0 0 10px;
            .title {
                font-size: 10pt;
                line-height: 13pt;
                margin: 0 0 3px;
                padding-left: 10px;
                text-align: left;
            }
        }
    }
}

@mixin col-x-list {
  $unit: "s !important";
  @for $i from 1 through 24 {
      .delay--#{$i} {
          animation-delay: ($i/10*0.5)#{$unit};
      }
  }
}
@include col-x-list;