.clover {
    @media(max-width: 992px) {
        display: none !important;
    }
}
.block_container {
    &.layout--content_block {
        background: #FFFFFF;
    }
    &.layout--menu_block {
        background: #FFFFFF;
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 80px;
            background: #FFF;
        }
    }
    &.layout--full_screen_alternating_blocks + .layout--banner_block {
        @media(min-width: 992px) {
        padding-top: 76px;
        background: $offwhite;
        }
    }
    .block {
        text-align: center;
        @media(min-width: 992px) {
            text-align: initial;
        }
        // Clovers
        &.block--grid_block,
        &.block--content_block {
            .clover {
                &.clover--large {
                    // top: -41px;
                    // left: -44px;
                    top: -71px;
                    left: -70px;
                }

                &.clover--med {
                    left: -115px;
                    top: 100px;
                }
                &.bottom {
                    bottom: -180px;
                    left: unset;
                    top: unset;
                    @media(min-width: 1200px) {
                        right: -60px;
                    }
                    @media(min-width: 1400px) {
                        // right: -65px;
                    }
                }
            }
        }

        &.block--grid_block {
            
            background: $brandPrimaryBgColour;//#FFFFFF;
            padding: 50px 0;
            @media(min-width: 992px) {
                padding: 0;
            }
            > .container {
                position: relative;
                @media(min-width: 992px) {
                    top: -120px;
                }
            }
            .grid__item {
                padding: 0 15px;
                margin-bottom: 40px;
                @media(min-width: 992px) {
                    margin-bottom: 0;
                    padding: 0 5px;

                    &:first-of-type {
                        padding-left: 0;
                    }
                    &:last-of-type {
                        padding-right: 0;
                    }
                }
                a {
                    text-decoration: none;
                }
                .item__inner {
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                    transition: 0.5s;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    height: 270px;
                    @media(min-width: 1200px) {
                        height: 300px;
                    }
                    .item__content {
                        background: #f7f3f0;
                        width: calc(100% - 15px);
                        text-align: center;
                        padding: 20px 0;
                        font-size: 20pt;
                        color: $brandPrimaryTextColour;//#085c2c;
                        font-family: $boldFont;//'Frank Ruhl Libre', serif;
                        font-weight: bold;
                        text-decoration: none;
                        @media(max-width: 1200px) {
                            position: relative;
                            bottom: -30px;
                        }
                    }

                }

                &:hover {
                    .item__inner {
                        background-size: 110%;
                    }
                }


                &.split {
                    position: relative;
                    @media(min-width: 992px) {
                    padding: 0 !important;
                        max-width: calc(25% - 5px) !important;
                        margin-right: 5px !important;
                    }
                    @media(min-width: 1200px) {

                        overflow: hidden;
                    }
                    > .item__inner {
                        .item__content {
                            position: relative;
                        }
                    }
                    &:hover {
                        .item__inner {
                            background-size: 100% !important;
                        }
                    }
                    > a {
                        position: absolute;
                        width: calc(100% - 30px);
                        height: 50%;
                        left: 15px;
                        @media(min-width: 1200px) {
                            left: unset;
                            width: 100%;
                            height: 100%;
                            top: 0;
                        }
                        .item__inner {
                            justify-content: center !important;
                            align-items: center !important;
                            @media(max-width: 1200px) {
                                height: 100% !important;
                            }
                            @media(min-width: 1200px) {
                                background-position: -60px 0px !important;
                            }
                        }
                        &:hover {
                            .item__inner {
                                background-size: 110% !important;
                            }
                        }
                        .item__content {
                            background: transparent !important;
                            font-weight: 400 !important;
                            color: #FFF !important;
                            font-size: 15pt !important;
                            // transform: rotate(-90deg);
                            margin-bottom: 30px !important;
                            margin-right: 135px !important;
                            max-width: 100px;
                        }
                        @media(max-width: 1200px) {
                            .item__content {
                                margin: 0 auto 50px !important;
                            }
                        }
                        &:first-of-type {
                            top: 0;
                            @media(min-width: 1200px) {
                                left: -50%;
                            }
                            @media(min-width: 1200px) {
                                .item__content {
                                    margin-right: 0 !important;
                                    margin-left: 140px !important;
                                }
                                .item__inner {
                                    background-position: 70px 0px !important;
                                }
                                &:hover {
                                    .item__inner {
                                        background-position: 50px -10px !important;
                                    }
                                }
                            }
                        }
                        &:last-of-type {
                            bottom: 0;
                            @media(min-width: 1200px) {
                                right: -50% !important;
                            }
                            @media(max-width: 1200px) {
                                .item__content {
                                    margin-bottom: 80px !important;
                                }
                            }
                            @media(min-width: 1200px) {
                                .item__inner {
                                    background-position: -50px 0px !important;
                                }
                                &:hover {
                                    .item__inner {
                                        background-position: -60px -10px !important;
                                    }
                                }
                            }
                        }
                    }
                }


            }
        }

        &.block--alternating_blocks {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            // background-attachment: fixed;
            padding: 120px 0;
            > .container > .row {
                position: relative;
            }
            .block {
                &.block--header {
                    background: $brandPrimaryBgColour;//$brandPrimaryBgColour; // #e66041;
                    color: $brandPrimaryTextColour;//#FFF;
                    padding: 25px 50px;// 50px 25px 30px;
                    line-height: 18pt;
                    font-size: 14pt;
                    z-index: 2;
                    width: calc(100% - 30px);
                    margin-left: 15px;
                    font-family: $largeText;
                    * { 
                        color: $brandPrimaryTextColour;
                    }
                    @media(min-width: 992px) {
                        width: auto;
                        position: absolute;
                        margin: 0 15px;
                    }
                    @media(min-width: 1200px) {
                        left: 0;
                    }
                    .title {
                        margin-bottom: 20px;
                        font-size: 18pt;
                        line-height: 22pt;
                        img {
                            max-width: 180px;
                        }
                    }
                    .content * {
                        @media(max-width: 992px) {
                        text-align: center !important;
                        }
                    }
                }
            }
            .clover {
                left: -58px;
                bottom: -45px;
            }
            .grid__item {
                // padding: 0;
                @media(min-width: 992px) {
                    padding: 0 15px;
                }
                .item__inner {
                    display: flex;
                    flex-wrap: wrap;
                    @media(min-width: 992px) {
                        flex-wrap: nowrap;
                    }
                    background: $brandSecondaryBgColour;//#f7f3f0;
                    color: $brandSecondaryTextColour;
                    font-family: $largeText;
                    .image {
                        display: block;
                        position: relative;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        height: auto;
                        // flex: 100%;
                        width: 61%;
                        // @media(min-width: 1200px) {
                        //     max-width: 509px;
                        // }
                    }
                    .content {
                        padding: 40px 30px;
                        max-width: 39%;
                        .item__title {
                            margin-bottom: 15px;
                        }
                        .item__content {
                            h5 {
                                margin-bottom: 25px;
                            }
                        }
                        p {
                            font-family: $defaultFont;
                            font-size: 18px;
                            line-height: 26px;
                            // font-weight: 100 !important;
                            &:first-of-type {
                                margin-bottom: 25px;
                            }
                        }
                        
                            .h4, .h4 *, h4, h4 * {
                                font-size: inherit;
                                line-height: inherit;
                                font-weight: inherit !important;
                            }
                        strong, b, strong *, b * {
                            font-weight: 400 !important;
                        }
                        a {
                            font-weight: 600;
                            color: $brandSecondaryTextColour !important;
                            text-decoration: underline;
                        }
                    }

                    @media(max-width: 992px) {
                        .image {
                            width: 100%;
                            display: none !important;
                        }
                        .content {
                            max-width: 100% !important;
                            width: 100% !important;
                            text-align: center;
                        }
                    }
                }
                &.style--dark {
                    .item__inner {
                        background: $brandSecondaryBgColour;//#d4c8bf;
                        color: $brandSecondaryTextColour;
                        * { color: $brandSecondaryTextColour; }
                        a {
                            color: $brandPrimaryBgColour !important;
                        }
                    }
                }
                &.alt {
                    .item__inner {
                        .image {
                            order: 2;
                            flex: 100%;
                            background-position: center;
                            // @media(min-width: 1200px) {
                            //     min-width: 420px;
                            // }
                        }
                        .content {
                            padding: 25px 55px 20px;
                            max-width: 52.5%;//61%;
                        }
                    }
                }
            }
        }

        &.block--venue_details_block {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            @media(min-width: 1200px) {
                flex-wrap: nowrap;
            }
            .venue {
                width: 100%;
                display: flex;
                align-items: flex-end;//center;
                justify-content: center;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                color: #FFF;
                // height: 450px;
                padding: 60px 30px;
                @media(min-width: 992px) {
                    padding: 30px 30px 120px;
                    min-height: 620px;
                    height: 80vh;
                }
                a:not(.button) {
                    color: #FFF;
                    &:hover, &:visited, &:focus {
                        color: #FFFFFF;
                    }
                }
                .content {
                    // text-align: center;
                    h4 {
                        margin-bottom: 30px;
                        font-weight: 500;
                    }
                    *:not(.button) { color: #FFF; }
                    // * { font-family: $venueBannerFont; text-transform: uppercase; }
                    .address, .contact {
                        font-size: 18px;
                        line-height: 26px;
                        p {
                            margin: 0;
                        }
                    }
                    .contact {
                        // margin-top: 30px;
                    }
                    // .address {
                    //     background-image: url(../img/pin_white.png);
                    //     background-repeat: no-repeat;
                    //     background-position: 50% 0;
                    //     background-size: 30px;
                    //     padding: 60px 0 0;
                    // }
                    .buttons {
                        margin-top: 40px;
                        .button {
                            margin: 10px 0 0;
                            @media(min-width: 992px) {
                                margin: 0;
                            }
                        }
                        // .button {
                        //     margin: 6px 6px 0 0;
                        //     text-decoration: none;
                        //     @media(min-width: 992px) {
                        //         margin: 0 6px 0 0;
                        //     }
                        //     text-transform: none;
                        //     background: transparent !important;
                        //     outline: none !important;
                        //     border: none !important;
                        //     border-bottom: 2px solid $brandSecondaryBgColour !important;
                        //     color: $brandSecondaryBgColour;
                        //     padding: 0 0 2px;
                        //     &:hover, &:focus, &:visited {
                        //         outline: none !important;
                        //         border: none !important;
                        //         border-bottom: 2px solid $brandSecondaryBgColour !important;
                        //     }
                        // }
                    }
                    // @media(min-width: 1200px) {
                    //     margin-left: -200px;
                    // }
                }
                &.details--hidden {
                    .content {
                        h4 {
                            margin-bottom: 0;
                        }

                        .buttons {
                            margin-top: 20px;
                        }
                    }
                }
                &:first-of-type {
                    .content {
                        // @media(min-width: 1200px) {
                        //     margin-left: 150px;
                        // }
                    }
                }
            }
        }

        &.block--instagram_feeds {
            background: $brandPrimaryBgColour;
            position: relative;
            .clover {
                right: 100px;
                top: 60px;
            }
            > .container > .row {
                padding: 30px 0;
                @media(min-width: 992px) {
                    padding: 40px 0;
                }
            }
            h4 {
                margin: 0;
                // text-transform: uppercase;
                // font-size: 14pt;
                // line-height: 16pt;
                letter-spacing: 0.025em;
                color: $brandPrimaryTextColour;
                &:before {
                    content: '';
                    background-image: url(../img/ig.png);
                    background-repeat: no-repeat;
                    width: 22px;
                    height: 22px;
                    background-size: cover;
                    display: inline-block;
                    position: relative;
                    top: 2px;
                    margin-right: 10px;
                }
                // margin-bottom: 15px;
            }
            #sb_instagram {
                .sb_instagram_header {
                    .sbi_header_img {
                        display: none !important;
                    }
                    a {
                        float: none !important;
                        margin-bottom: 35px;
                    }
                    .sbi_header_text {
                        float: none !important;
                        text-align: center !important;
                        display: block;
                        margin: 0 !important;
                        padding: 0 !important;
                        h3 {
                            float: none !important;
                            margin: 0 !important;
                            display: inline-block !important;
                            text-transform: uppercase;
                            text-transform: uppercase;
                            font-size: 14pt;
                            line-height: 16pt;
                            letter-spacing: 0.025em;
                            &:before {
                                content: '@';
                            }
                        }
                    }
                }
            }
            #surfers {
                #sbi_images {
                    .sbi_item {
                        > div {
                            > a {
                                &:before {
                                    content: '@retros_surfersparadise';
                                    color: $brandPrimaryTextColour;
                                }
                            }
                        }
                    }
                }
            }
            #sbi_images {
                .sbi_photo {
                    opacity: 1 !important;
                    &:hover {
                        &:before {
                            opacity: 1;
                        }
                    }
                }
                .sbi_item {
                    position: relative;
                    > div {
                        > a {
                            &:before {
                                content: '@retros_fortitudevalley';
                                // text-transform: uppercase;
                                font-size: 14pt;
                                color: $lightenedBrandPrimaryBgColour;
                                font-weight: bold;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding-top: 80px;
                                transition: 0.5s;
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                background: rgba(2, 2, 2, 0.7) url(../img/ig_orange.png);
                                z-index: 3;
                                background-repeat: no-repeat;
                                background-position: center;
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }

        &.block--content_block {
            .clover {
                display: none;
                @media(min-width: 768px) {
                    display: block !important;
                }
                &.clover--large {
                    top: -80px;
                }
                &.clover--med {
                    top: 60px;
                }
                &.clover--small {
                    bottom: 65px;
                }
            }
            position: relative;
            // top: -170px;
            &.push--up {
                @media(min-width: 992px) {
                    top: -170px;
                }
            }
            background: #FFF;
            padding: 30px 0;
            @media(min-width: 992px) {
                padding: 65px 0 0;
            }
            > .container {
                position: relative;
            }
            .row {
                .item__inner {
                    display: flex;
                    @media(max-width: 1200px) {
                        flex-wrap: wrap;
                    }
                    background: #FFF;
                    .content {
                        @media(max-width: 1200px) {
                            order: 2;
                            max-width: 100% !important;
                            width: 100%;
                            padding: 50px 0;
                        }
                        max-width: 58.333%;
                        padding: 0px 36px 0px;
                        &.align--center {
                            padding: 60px 0px;
                            @media(min-width:992px) {
                                padding: 30px 36px;
                            }
                            
                        }
                        
                        .item__title * {
                            // h2 {
                                font-family: $extraBoldFont;// 'Frank Ruhl Libre', serif !important;
                                font-weight: 900;
                                margin-bottom: 22px;
                            // }
                        }
                        .item__content {
                            p {
                                margin-bottom: 30px;
                                &:last-of-type {
                                    margin-bottom: 0;
                                }
                            }
                            .h4, .h4 *, h4, h4 * {
                                font-size: inherit;
                                line-height: inherit;
                                font-weight: inherit !important;
                            }
                            h6 { color: $brandPrimaryTextColour; margin-bottom: 20px; }
                            strong, b, strong *, b * {
                                font-family: $extraBoldFont;
                            }
                        }
                        p, li, span {
                            font-size: 18px;
                            line-height: 26px;
                            // font-weight: 200;
                            letter-spacing: 0.025em;
                        }
                            .h4, .h4 *, h4, h4 * {
                                font-size: 20pt;
                                line-height: 28pt;
                            }
                        h5, h5 * {
                            font-weight: 900;
                        }
                        h5 {
                            margin-top: 20px;
                        }
                    }
                    .image {
                        @media(max-width: 1200px) {
                            background: transparent !important;
                            width: 100% !important;
                            order: 1;
                            img { width: 100%; }
                        }
                        @media(max-width: 992px) {
                            img {
                                margin-bottom: 30px;
                            }
                        }
                        display: block;
                        position: relative;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: top;
                        height: auto;
                        width: 41.67%;
                        &.height-adjusted {
                            @media(min-width: 1200px) {
                                height: 350px;
                            }
                        }
                    }
                }
                &.bottom {
                    > div {
                        @media(max-width: 992px) {
                            padding: 0;
                        }
                    }
                    .item__inner {
                        background: #f7f3f0;
                        .content {
                            padding: 60px 15px;
                            @media(min-width: 992px) {
                                padding: 20px 36px 56px;
                            }
                        }
                    }
                }
            }
            .bottom__wrapper {
                background-size: cover;
                background-repeat: no-repeat;
                @media(min-width: 992px) {
                    padding-bottom: 360px;
                }
                > .container {
                    position: relative;
                    @media(max-width: 992px) {
                        // padding: 0;
                    }
                }
                .block--header {
                    background: $brandPrimaryTextColour;
                    color: $brandPrimaryTextColour;
                    @media(min-width: 992px) {
                        background: transparent;
                    }
                    // padding: 20px 35px 15px 20px;
                    padding: 25px 50px 25px 30px;
                    // line-height: 18pt;
                    // font-size: 18pt;
                    z-index: 2;
                    position: relative;
                    width: calc(100% + 30px); 
                    left: -15px;
                    // max-width: 28%;
                    @media(min-width: 992px) {
                        position: absolute;
                        left: 50%;
                        transform: translate(-50%, 0);
                        right: unset;
                        bottom: -225px;
                        max-width: 400px;
                    }
                    @media(min-width: 1200px) {
                        transform: unset;
                        left: unset;
                        right: 100px;
                        bottom: -140px;
                        max-width: 330px;
                        padding: 0;
                    }

                    .content {
                        position: relative;
                        @media(min-width: 992px) {
                            top: 0px;
                            width: 100%;
                            max-width: 400px;
                            padding: 15px;
                        }
                        @media(min-width: 1200px) {
                            top: -50px;
                            padding: 0;
                            max-width: 100%;
                        }
                        @media(min-width: 992px) and (max-width: 1200px) {
                            // padding: 40px 10px;
                            // left: -65px;
                            // top: -20px;
                        }
                        // position: relative;
                        // overflow: hidden;
                        // color: #FFF;
                        p, p * {
                            font-size: 18px;
                            line-height: 26px;
                            font-family: $defaultFont;
                        }
                        h3 {
                            margin-top: 40px;
                            margin-bottom: 0;
                        }
                        * { 
                            color: #FFF;
                            position: relative;
                            z-index: 7;
                        }
                        &:before {
                            content: '';
                            display: block;
                            position: absolute;
                            background: url(../img/tv.png);
                            background-repeat: no-repeat;
                            @media(min-width: 992px) {
                                width: 600px;
                                height: 586px;
                                top: -238px;
                                left: -40px;
                                z-index: 6;
                                background-size: 484px;
                            }
                            @media(min-width: 1200px) {
                                // width: 530px;
                                // height: 650px;
                                // top: -305px;
                                // left: -72px;
                                // z-index: 6;
                                // background-size: 533px;
                                // background-position: 0% 0%;
                                width: 530px;
                                height: 650px;
                                top: -295px;
                                left: -50px;
                                z-index: 6;
                                background-size: 485px;
                            }
                        }
                    }


                    h5 { margin-bottom: 20px; }
                    // p:last-of-type { margin-bottom: 0; }
                    * {
                        color: $brandPrimaryTextColour;
                        font-family: $largeText;
                        // font-size: 18pt;
                        // line-height: 26px;
                        // letter-spacing: 0.025em;
                    }
                }
                .image {
                    background-position: 0% 20% !important;
                }
            }
        }

        &.block--timeline_block {
            .clover {
                right: 0;
                bottom: -135px;
            }
            background: #FFFFFF;
            padding: 60px 0 120px;
            @media(min-width: 992px) {
                padding: 110px 0 120px;
            }
            > .container {
                position: relative;
            }
            .line {
                position: absolute;
                width: 3px;
                left: 50%;
                height: 100%;//calc(100% - 500px);
                background: $brandPrimaryBgColour;
                &:after {
                    content: '';
                    display: block;
                    width: 10px;
                    height: 10px;
                    background: #FFFFFF;
                    border: 1px solid $brandPrimaryBgColour;
                    display: block;
                    position: absolute;
                    right: -4px;
                    border-radius: 100%;
                    bottom: -1px;
                }
            }

            .odd {
                .timeline__entry {
                    &:before {
                        left: -4px;
                    }
                    padding-left: 100px;
                    padding-right: 0;
                    text-align: left;
                    .year {
                        left: 15px;
                    }
                }
            }
            .timeline__entry {
                padding-right: 100px;
                text-align: right;
                @media(max-width: 992px) {
                    padding: 20px 15px !important;
                    text-align: center !important;
                    background: #FFF;
                    border: 1px solid $brandSecondaryBgColour;
                    border-radius: 15px;
                    margin: 70px 0px;
                }
                &:before {
                    content: '';
                    width: 10px;
                    height: 10px;
                    background: #FFFFFF;
                    border: 1px solid $brandSecondaryBgColour;
                    display: block;
                    position: absolute;
                    right: -6px;
                    border-radius: 100%;
                    top: 0;
                    @media(max-width: 992px) {
                        right: unset !important;
                        left: 50.5% !important;
                        transform: translate(-50%, 0) !important;
                    }
                }
                .title, .title * {
                    font-size: 18px;
                    font-family: $mediumFont;
                }
                .content, .content * {
                    font-weight: 200;
                }
                .year {
                    font-family: $extraBoldFont;//Ardagh;
                    color: $brandPrimaryBgColour;
                    font-size: 22pt;
                    line-height: 26px;
                    margin-bottom: 30px;
                    @media(min-width: 992px) {
                        margin: 0;
                        position: absolute;
                        right: 15px;
                    }
                }
            }
        
        }

        &.block--menu_block { 
            background-repeat: no-repeat;
            background-size: 200%, 100%;
            background-position: top, bottom;
            padding-top: 70px;
            padding-bottom: 70px;
            @media(max-width: 992px) {
                padding-left: 15px;
                padding-right: 15px;
            }
            @media(min-width: 992px) {

                background-size: 100% 60%, 100% 65%;
                background-position: 0px -25%, 0px 200%;
            }
            .menu__wrapper {
                &:before {
                    content: '';
                    display: block;
                    position: relative;
                    top: 8px;
                    width: calc(100% - 30px);
                    @media(min-width: 992px) {
                        width: 70%;
                    }
                    margin: 0 auto;
                    height: 8px;
                    border-top: 2px solid $brandPrimaryBgColour;//#124b05;
                    border-bottom: 2px solid $brandPrimaryBgColour;//#124b05;
                }

                &:after {
                    content: '';
                    display: block;
                    position: relative;
                    bottom: 6px;
                    width: calc(100% - 30px);
                    @media(min-width: 992px) {
                        width: 70%;
                    }
                    margin: 0 auto;
                    height: 8px;
                    border-top: 2px solid $brandPrimaryBgColour;//#124b05;
                    border-bottom: 2px solid $brandPrimaryBgColour;//#124b05;
                }
            }
            > .container {
                background: #f6f2ef;
                padding-top: 50px;
                .row {
                    &:last-of-type > div {
                        padding: 0;
                    }
                }
            }
            .left__column {
                .menu__section {
                    &:last-of-type {
                        &.seperator--top {
                            &:before {
                                // right: 0;
                                // @media(min-width: 992px) {
                                //     right: -17px;
                                // }
                                // position: absolute;
                                // top: 0; 
                                margin: 0 auto 45px;
                            }
                        }
                        .section__items {
                            &:last-of-type {
                                .description {
                                    p {
                                        margin-bottom: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
            .middle__column {
                @media(min-width: 992px) {
                border-left: 2px solid $brandPrimaryBgColour;//#124b05;
                border-right: 2px solid $brandPrimaryBgColour;//#124b05;
                }
                .menu__section {
                    &:last-of-type {
                        margin: 0 !important;
                        padding: 0 !important;
                        .section__items {
                            > div {
                                &:last-of-type {
                                    @media(min-width: 992px) {
                                        padding-bottom: 30px;
                                    }
                                }
                            }
                        }
                    }
                    &:nth-last-child(2) {
                        // min-height: 250px;
                        padding-bottom: 0;
                        @media(min-width: 992px) {
                            padding-bottom: 0;
                            min-height: 294px;
                        }
                        .section__items {
                            .menu__item:last-of-type {
                                .title {
                                    text-transform: none;
                                }
                                .price {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
            .header {
                .title {
                    color: $brandPrimaryBgColour;//#124b05;
                    margin-bottom: 20px;
                    text-align: center;
                    font-weight: bold;
                    font-family: $extraBoldFont;//'Frank Ruhl Libre', serif;
                }
                .description {
                    font-weight: 200;
                    font-size: 18px;
                    line-height: 26px;
                }
                .subheading {
                    font-size: 18px;
                    line-height: 26px;
                    margin-bottom: 30px;
                    br {
                        display: none;
                        @media(min-width: 992px) {
                            display: block;
                        }
                    }
                }
            }

            .menu__section {
                text-align: center;
                margin: 35px 0;
                position: relative;
                &:last-of-type {
                    padding-top: 30px;
                    padding-bottom: 30px;
                    @media(min-width: 992px) {
                        padding-top: 25px;
                        padding-bottom: 0;
                    }
                }
                &.seperator--top {
                    &:before {
                        content: '';
                        display: block;

                        width: 100%;
                        @media(min-width: 992px) {
                            width: 50%;
                        }
                        height: 2px;
                        background: $brandPrimaryBgColour;//#124b05;
                        margin: 0 auto 35px;
                    }
                }
                &.seperator--bottom {
                    &:after {
                        content: '';
                        display: block;
                        left: 0;
                        width: 100%;
                        margin: 30px auto 0;
                        @media(min-width: 992px) {
                            margin: 0;
                            position: absolute;
                            width: calc(100% + 33px);
                            left: -17px;
                        }
                        height: 2px;
                        bottom: 0;
                        background: #124b05;
                    }
                }
                &.seperator--both {
                    @media(min-width: 992px) {
                        padding: 0 30px !important;
                    }
                    &:before {
                        content: '';
                        display: block;
                        /* position: absolute; */
                        left: 0;
                        width: 100%;
                        @media(min-width: 992px) {
                            width: 60%;
                        }
                        margin: 30px auto 0;
                        height: 2px;
                        top: 0;
                        background: $brandPrimaryBgColour;// #124b05;
                        margin-bottom: 30px;
                    }
                    &:after {
                        content: '';
                        display: block;
                        /* position: absolute; */
                        left: 0;
                        width: 100%;//calc(100% - 30px);
                        @media(min-width: 992px) {
                            width: 60%;
                        }
                        margin: 30px auto 0;
                        height: 2px;
                        bottom: 0;
                        background: $brandPrimaryBgColour;// #124b05;
                    }
                }
                .section__title {
                    font-family: $mediumFont;//Ardagh;
                    font-size: 30pt;
                    line-height: 36px;
                    padding: 0 15px;
                    color: $brandPrimaryTextColour;// #124b05;
                    text-align: center;
                    margin-bottom: 15px;
                }

                .section__image {
                    img {
                        max-height: 170px;
                        margin-bottom: 35px;
                    }
                }

                &:last-of-type {
                    margin: 0 0 20px !important;
                }

                .menu__item {
                    font-weight: 300;
                    color: #3f362d;
                    margin: 0 0 10px;
                    .description li {
                        list-style: none;
                        padding: 0 !important;
                        margin: 0;
                    }

                    .description ul {
                        margin: 0 !important;
                        padding: 0 !important;
                    }

                    .description li:before {
                        content: '-';
                        padding-right: 5px;
                    }

                    * {
                        color: #3f362d;
                    }
                    .header {
                        .title {
                            margin: 0;
                            * {
                                margin: 0;
                            }
                        }
                        .title, .price {
                            display: inline-block;
                            text-transform: uppercase;
                            font-size: 18px;
                            font-weight: 300;
                            font-family: $defaultFont;//'Oswald', sans-serif;
                        }
                        .price {
                            margin-left: 6px;
                        }
                    }
                    .description, .description * {
                        font-size: 11pt;
                        margin: 0;
                    }
                    .description {
                        strong, b, strong *, b * {
                            font-family: $mediumFont;
                        }
                    }
                    .variations, .variations * {
                        font-size: 12pt;
                    }
                    .additional_text, .additional_text * {
                        font-size: 18px;
                    }

                    &.menu__item--special {
                        margin-top: 60px !important;
                        margin-bottom: 40px !important;
                        .header {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                        }
                        .content {
                            text-align: left;
                            .title, .title * {
                                color: #124b05 !important;
                                font-weight: 300;
                                text-align: left !important;
                                font-size: 18pt;
                                line-height: 26px;
                            }
                        }
                        .description {
                            margin-top: 7px !important;
                            * {
                                font-weight: 300;
                                font-size: 12pt !important;
                                line-height: 16pt;
                            }
                        }
                        img {
                            max-width: 110px;
                            margin-right: 10px;
                        }
                    }
                }
                
            }
            .drinks_menu {
                padding: 40px 0 50px;
                a {
                    color: #dc5536;
                    font-weight: 500;
                    border-bottom: 2px solid #dc5536;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
        
        &.block--image_gallery {
            .image__gallery {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
            .image {
                flex: 100%;
                height: 100vw;
                @media(min-width: 992px) {
                    flex: 25%;
                    height: 25vw;
                }
                position: relative;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        &.block--2_column_content_block {
            padding: 80px 0 100px;
            &.bottom--skinny {
                padding-bottom: 0;
            }
            .content {
                margin-bottom: 30px;
                @media(min-width: 992px) {
                    margin-bottom: 0;
                }
                &.align--center {
                    padding-top: 80px;
                    padding-bottom: 80px;
                }
                .title {
                    margin-bottom: 26px;
                }
                .body_content {
                    p, span, li {
                        font-weight: 300;
                    }
                    p {
                        margin-bottom: 20px;
                    }
                    strong, b, strong *, b * {
                        // font-weight: 400;
                        font-family: $extraBoldFont;//$mediumFont;
                    }
                }
            }
            .image {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: top right;
                // padding: 0;
                @media(max-width: 992px) {
                    padding: 100% 0 0;
                    max-width: calc(100% - 30px);
                    margin: 0 auto;
                }
            }
            .block {
                background: $brandPrimaryBgColour;// $brandPrimaryBgColour; // #e66041;
                color: $brandPrimaryTextColour;//#FFF;
                * { color: $brandPrimaryTextColour; font-family: $boldFont; }
                
                padding: 20px 35px 15px 20px;
                text-align: center;
                line-height: 18pt;
                font-size: 12pt;
                z-index: 2;
                @media(min-width: 992px) {
                    text-align: left;
                    bottom: -150px;
                    max-width: 65%;
                    right: -30px;
                    position: absolute;
                }
                // @media(min-width: 1200px) {
                //     left: 0;
                // }
                .title {
                    margin-bottom: 30px;
                    img {
                        max-width: 180px;
                    }
                }
            }
        }
        &.block--single_image_block {
            padding-bottom: 130px;
            @media(min-width: 1200px) {
                padding-bottom: 260px;
            }
            > .container {
                position: relative;
            }
            .block--header {
                background: $brandSecondaryTextColour;
                color: #FFFFFF; 
                padding: 20px 15px 15px;
                line-height: 18pt;
                font-size: 18pt;
                z-index: 2;
                top: 0;
                // max-width: 28%;
                position: relative;
                width: calc(100% + 30px);
                left: -15px;
                @media(min-width: 992px) {
                    padding: 20px 35px 15px 20px;
                    left: -30px;
                    position: absolute;
                    max-width: 250px;
                }
                // @media(min-width: 1200px) {
                //     max-width: 28%;
                // }
                    * { 
                        color: #FFFFFF;
                    }
                * {
                    font-size: 18pt;
                    line-height: 26px;
                    font-weight: 900;
                    letter-spacing: 0.025em;
                }
                b, strong {
                    display: block;
                    margin: 15px 0 5px;

                }
                b, strong, b *, strong * {
                    font-family: $largeText;
                    font-size: 20pt;
                    line-height: 20pt;
                }
            }
        }
        &.block--full_screen_alternating_blocks {
            padding-bottom: 60px;
            padding-top: 96px;
            background: $offwhite;
            .block__global__wrapper {
                .mb-image {
                    width: 100%;
                }
                background-size: 50%;
                background-repeat: no-repeat;
                background-position: 0 76px;
                background-color: $offwhite;
                &:nth-of-type(2n) {
                    background-color: $brandAlternateColour;
                    background-position: 0px 0px;
                }
                padding: 60px 0 0px;
                @media(min-width: 992px) {
                    padding: 50px 0 20px;
                }
                &:last-of-type {
                    background-size: 50%;
                }
                &.right {
                    background-position: 100% 76px;
                    .block__wrapper {
                        padding: 50px 0;
                        @media(min-width: 1200px) {
                            padding: 0px 0 56px; 
                        }
                    }
                }
                &:first-of-type {
                    background-position: 100% 0px;
                }
                @media(max-width: 1200px) {
                    background-image: none !important;
                }
                .block__wrapper {
                    // padding: 26px 0 56px;
                    padding: 50px 0;
                    @media(min-width: 1200px) {
                        padding: 26px 0 56px;
                    }
                    *:not(.button) {
                        color: $brandPrimaryTextColour;
                    }
                    .block__title {
                        font-weight: 900;
                        margin-bottom: 15px;
                        font-family: $fullScreenAlternatingBlockTitleFont;
                        text-transform: uppercase;
                        letter-spacing: 0.05em;
                    }
                    .block__content {
                        * {
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 24px;
                            font-family: $fullScreenAlternatingBlockContentFont;
                        }
                        p:first-of-type {
                            strong {
                                // font-family: 'Playfair Display', serif;
                                font-weight: bold;
                                display: block;
                                margin-bottom: 30px;
                            }
                        }
                        strong, b, strong *, b * {
                            // font-weight: 300;
                            font-family: $mediumFont;
                        }
                    }
                    .cta_button {
                        margin-top: 30px;
                        @media(min-width: 992px) {
                            margin-top: 60px;
                        }
                    }
                }
                .inclusions_wrapper {
                    @media(min-width: 768px) {
                        display: flex;
                        flex-wrap: wrap;
                    }
                    .inclusion {
                        @media(min-width: 768px) {
                            flex: 50%;
                            max-width: 50%;
                        }
                        padding: 0 15px 0 0;
                        margin: 0 0 20px 0;
                        .inclusion_content {
                            * { font-weight: 200; }
                            ul {
                                margin: 0 0 0 18px;
                                padding: 0;
                                li {
                                    margin: 3px 0;
                                }
                            }
                        }
                        
                    }
                }
            }
        }
        &.block--banner_block {
            background-size: cover;
            background-repeat: no-repeat;
            background-position:  center;
            position: relative;
            height: 380px;
            @media(min-width: 992px) {
                height: 450px;
            }
            @media(min-width: 1200px) {
                height: 600px;
            }
            .clover {
            display: none;
                background-image: url(../img/bricks.png);
                width: 212px;
                height: 110px;
                top: -35px !important;
                right: 70px !important;
                @media(min-width: 992px) {
                    display: block;
                }
            }
        }
        &.block--full_screen_menu_block {
            background: #f7f3f0;
            position: relative;
            .first {
                position: unset;
                // background: #d4c8bf;
                @media(min-width: 992px) {
                    background: transparent;
                }
                &:before {
                    content: '';
                    background: #d4c8bf;
                    position: absolute;
                    width: 100%;
                    left: 0;
                    top: 0;
                    z-index: 0;
                    height: 100%;//330px;
                    max-height: 260px;
                    // display: none;
                    @media(min-width: 992px) {
                        max-height: unset;
                        width: 50%;
                        display: block;
                    }
                }
                .menu_block {
                    position: relative;
                    z-index: 2;
                    padding-left: 0;
                }
            }
            a {
                &:not(.button) {
                    color: $brandPrimaryBgColour !important;
                    text-decoration: none !important;
                    &:hover, &:visited, &:focus {
                        color: $brandPrimaryBgColour !important;
                        text-decoration: none !important;
                    }
                }
            }
            .icon {
                .title {
                    padding-top: 50px;
                    background-repeat: no-repeat;
                    background-position: 50% 0;
                    background-size: 30px;
                }
                &.icon--calendar {
                    .title {
                        background-image: url(../img/calendar_icon.png);
                    }
                }
                &.icon--pin {
                    .title {
                        background-image: url(../img/pin_gold.png);
                    }
                }
            }
            .menu_block {
                display: flex;
                justify-content: center;
                flex-direction: column;
                // padding: 30px 80px 30px 0;
                padding: 60px 0;
                text-align: center;
                @media(min-width: 992px) {
                    text-align: left;
                    // padding: 30px 80px;
                    // height: 330px;
                    padding: 0px 80px;
                    height: 250px;
                }
                .title {
                    font-weighT: bold;
                    text-align: center;
                    @media(min-width: 768px) {
                        max-width: 230px;
                        margin: 0 auto;
                    }
                    // color: #085c2c;
                    color: $brandPrimaryBgColour !important;
                    margin-bottom: 30px;
                    font-family: $extraBoldFont;
                    // font-family: 'Frank Ruhl Libre', serif;
                    font-size: 14pt;
                }
            }
        }
        &.block--advertisement_block {
            img {
                position: relative;
                top: -50px;
                @media(min-width: 992px) {
                    top: -80px;
                }
            }
        }
    }
}

body:not(.home) {
    &.page-id-200 {
        .block_container {
            &.layout--content_block {
                > .block { padding-bottom: 0; }
            }
        }
    }
    .block_container {
        &.layout--content_block {
            > .block { background: #FFF5EC; }
            .item__inner {
                background: transparent !important;
                * { color: $brandPrimaryTextColour; }
            }
            .row {
                .item__inner {
                    .content {
                        @media(min-width: 768px) {
                            padding: 60px 90px 70px 90px !important;
                        }
                        @media(min-width: 992px) {
                            padding: 60px 90px 70px 90px !important;
                        }
                    }
                }
                &.bottom {
                    .item__inner {
                        background: #FFF !important;
                        .content {
                            @media(min-width: 768px) {
                                padding: 150px 70px 80px !important;
                            }
                            @media(min-width: 992px) {
                                padding: 150px 70px 358px !important;
                            }
                            @media(min-width: 1200px) {
                                padding: 150px 70px 155px !important;
                            }
                        }
                    }
                }
            }
            .clover {
                &.clover--large {
                    background-image: url(../img/bricks.png);
                    width: 212px;
                    height: 110px;
                    top: -108px !important;
                    left: -120px !important;
                }
                &.clover--med {
                    background-image: url(../img/bricks.png);
                    width: 212px;
                    height: 110px;
                    bottom: -30px !important;
                    right: -120px !important;
                    top: unset !important;
                    left: unset !important;
                }
                &.clover--small {
                    display: none;
                }
            }
        }
        &.layout--full_screen_alternating_blocks {
            .block {
                &.block--full_screen_alternating_blocks {
                    padding-bottom: 0px;
                    // background :#FFF;
                }
                .block__global__wrapper {
                    &:first-of-type {
                        @media(min-width: 992px) {
                            margin-bottom: 76px;
                        }
                        // background-color: #f7f3f0;
                    }
                    // background-color: #ffffff;
                    @media(min-width: 1200px) {
                        padding: 86px 0 26px;
                    }
                }
            }
        }
    }
}

body.page-id-193,body.page-id-280,body.page-id-277 {
    .block_container {
        &.layout--content_block {
            .block {
                padding-bottom: 60px;
                @media(min-width: 992px) {
                    padding-bottom: 100px;
                }
            }
        }
    }
}
body.page-id-198,body.page-id-237 {
    .block_container {
        &.layout--content_block {
            .clover {
                &.clover--small { display: none !important; }
            }
        }
    }
}
body.page-id-200 {
    .block_container {
        &.layout--content_block {
            .clover {
                &.clover--small {
                    display: block !important;
                    background-image: url(../img/skates.png);
                    width: 320px;
                    height: 256px;
                    top: unset !important;
                    bottom: -120px !important;
                    left: -180px !important;
                    background-size: 430px !important;
                    background-position: center !important;
                }
            }
        }
    }
}
body.home {
    .block_container .block.block--full_screen_alternating_blocks .block__global__wrapper .block__wrapper {
        @media(min-width: 1200px) {
            padding-top: 85px;
        }
    }
    .block_container.layout--alternating_blocks .row > div:nth-of-type(2) .content:before {
        content: '';
        display: block;
        position: absolute;
        background: url(../img/tv.png);
        background-repeat: no-repeat;
        @media(min-width: 992px) {
            width: 450px;
            height: 546px;
            top: -189px;
            left: -52px;
            z-index: 6;
            background-size: 454px;
        }
        @media(min-width: 1200px) {
            width: 480px;
            height: 540px;
            top: -198px;
            left: -82px;
            z-index: 6;
            background-size: 443px;
        }
    }

    .block_container.layout--alternating_blocks .row > div:nth-of-type(2) .content {
        position: relative;
        @media(min-width: 992px) and (max-width: 1200px) {
            padding: 40px 10px;
            left: -65px;
            top: -20px;
        }
    }

    .block_container.layout--alternating_blocks .row > div:nth-of-type(2) .content .item__content {
        position: relative;
        overflow: hidden;
        color: #FFF;
        * { 
        color: #FFF;
        }
        z-index: 7;
        @media(min-width: 992px) {
            top: 20px;
            max-height: 240px;
        }
        @media(min-width: 1200px) {
            left: -70px;
            top: unset;
            max-height: 240px;
            padding: 0px 20px;
        }
    }

}
body.page-id-196,body.page-id-232 {
    // events page
    .block_container.layout--content_block {
        > .block {
            background: #FDCEA2 !important;
            padding-top: 0;
            .item__inner {
                background: #FDCEA2 !important;
                .content {
                    padding-right: 0 !important;
                }
            }
        }
        .clover {
            &.clover--large {
                left: unset !important;
                right: -120px !important;
            }
            &.clover--med, &.clover--small {
                display: none !important;
            }
        }
    }
}
body.page-id-199 {
    #primary {
        background-color: #FFF;
    }

    .block_container.layout--2_column_content_block + .layout--events_block > .block {
        padding: 0 !important;
    }

    .block_container.layout--2_column_content_block + .layout--events_block > .block .section_title {
        display: none;
    }

    .layout--2_column_content_block {
        .block {
            padding-bottom: 50px;
        }
        .title {
            font-family: $extraBoldFont;
        }
    }
}

