.social__container {
    a.social__site {
        width: 20px;
        height: 20px;
        display: inline-block;
        background-image: url(../img/social_icons.png);
        background-repeat: no-repeat;
        background-size: 70px;
        background-position: 5px 0px;
        margin: 0 3px;
        &.site--instagram {
            background-position: -50px 0px;
        }
        &.site--twitter {
            background-position: -22px 0px;
        }
    }
    .social_wrap {
        .title {
            display: block;
            color: $brandPrimaryTextColour;
            text-align: center;
            // font-family: 'Oswald', sans-serif;
            font-weight: 700;
            font-size: 7pt;
            line-height: 10pt;
            letter-spacing: 0.05em;
        }
    }
}