body.single.single-venue {
    footer .newsletter {
        display: none !important;
    }
    .block_container {
        > .block {
             &.block--content_block {
                .clover {
                    &.clover--small {
                        display: none !important;
                    }
                }
                @media(max-width: 992px) {
                    padding-top: 60px;
                }
                &.floatingbox {
                    padding: 0 0 0;
                    @media(min-width: 992px) {
                        padding: 40px 0 0px;
                    }
                    .clover {
                        &.clover--large {
                            top: unset;
                            bottom: 60px;
                            left: -60px;
                        }
                        &.clover--med {
                            top: -65px;
                            left: unset;
                            right: -110px;
                            bottom: unset;
                        }
                        &.clover--small {
                            top: unset;
                            bottom: -88px;
                            left: -100px;
                        }
                    }
                    .row .item__inner .content {
                        max-width: 100%;
                        h5 {
                            margin-bottom: 30px;
                        }
                    }
                    .block--header {
                        background: $brandPrimaryBgColour;
                        color: $brandSecondaryTextColour;
                        padding: 20px 15px 15px;
                        @media(min-width: 992px) {
                            padding: 20px 35px 15px 35px;
                        }
                        line-height: 18pt;
                        font-size: 18pt;
                        z-index: 2;
                        left: unset;
                        top: unset;
                        // max-width: 28%;
                        @media(min-width: 992px) {
                            right: 0px;
                            position: absolute;
                            max-width: 30%;
                            bottom: -85px;
                        }
                        // @media(min-width: 1200px) {
                        //     max-width: 33%;
                        // }
                        h5 {
                            margin-bottom: 20px;
                            font-size: 18pt;
                            line-height: 22pt;
                        }
                        * {
                            // font-family: 'Frank Ruhl Libre', serif;
                            color: $brandPrimaryTextColour;//#005238;
                            font-family: $mediumFont;//'Frank Ruhl Libre', serif;
                            font-weight: bold;
                            line-height: 18pt;
                            font-size: 14pt;
                            letter-spacing: 0.025em;
                            
                        }
                    }
                }
                .col-lg-12 {
                    .item__inner {
                        .content {
                            padding-top: 0 !important;
                            @media(min-width: 992px) {
                                padding-bottom: 0px !important;
                                min-height: 350px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                max-width: 64.333% !important;
                                width: 100%;
                            }
                            
                        }
                    }
                    .item__content {
                        h5 {
                            margin-bottom: 30px;
                            margin-top: 0;
                            // @media(min-width: 992px) {
                            //     margin-top: -15px;
                            // }
                        }
                    }
                    @media(min-width: 992px) {
                        padding: 0;
                    }
                }
                
             }

            &.block--info {
                background-size: cover;
                .section {
                    background: $lightenedBrandPrimaryBgColour;
                    *:not(.button) {
                        color: $brandPrimaryTextColour;
                    }
                    &:last-of-type {
                        background: $brandAlternateColour;
                    }
                    padding: 0;
                    .item__inner {
                        .content {
                        }
                        .item__content {
                            padding: 60px 15px;
                            @media(min-width: 992px) {
                                padding: 60px 90px 0;
                            }
                            h3 {
                                // color: $brandPrimaryTextColour;//#005238;
                                font-family: $boldFont;//'Frank Ruhl Libre', serif;
                                font-weight: 900;
                                margin-bottom: 30px;
                            }
                            .h5 {
                                margin-top: 30px;
                                font-family: $boldFont;
                                // color: #005238;
                                font-weight: bold;
                            }
                            p {
                                font-weight: 500;
                            }
                            strong, b, strong *, b * {
                                font-weight: 900 !important;
                            }
                        }
                        .map {
                            @media(min-width: 992px) {
                                margin-top: 60px;
                            }
                            height: 550px;
                        }
                    }
                    .venue_quick_information {
                        padding: 60px 37px;
                        @media(min-width: 992px) {
                            padding: 110px 50px 0 110px;
                        }
                        // text-transform: uppercase;
                        font-size: 14pt;
                        line-height: 20pt;
                        letter-spacing: 0.025em;
                        .quick_information {
                            min-height: 60px;
                            padding: 0 0px 0 60px;
                            background-size: 40px;
                            margin: 60px 0;
                            text-align: left;
                            &:first-of-type {
                                margin-top: 0;
                            }
                            &:last-of-type {
                                margin-bottom: 0;
                            }
                            background-repeat: no-repeat;
                            &.style--pin {
                                background-image: url(../img/pin_gold.png);
                            }
                            &.style--clock {
                                background-image: url(../img/clock.png);
                            }
                            &.style--train {
                                background-image: url(../img/train.png);
                            }
                            &.style--parking {
                                background-image: url(../img/parking.png);
                            }
                        }
                    }

                }

            }

            &.block--media {
                background: $offwhite;
                padding: 0px 0 60px;
                @media(min-width: 992px) {
                    padding: 40px 0 60px;
                }
                .pr_media {
                    text-align: center;
                    font-weight: 500;
                    * {
                        color: $brandPrimaryTextColour;//#074e25;
                    }
                    p { margin: 0; letter-spacing: normal;}
                    a {
                        color: $brandPrimaryBgColour !important;
                    }
                    h5, strong, b {
                        letter-spacing: 0.1em;
                        color: $brandPrimaryTextColour;//#074e25;
                        margin: 0;
                        text-transform: uppercase;
                        font-weight: 600;
                    }
                }
            }

            &.block--service {
                background: $offwhite;
                padding: 60px 0;
                @media(min-width: 992px) {
                    padding: 80px 0 40px;
                }
                .service {
                    text-align: center;
                    text-transform: uppercase;
                    @media(max-width: 992px) {
                        margin-bottom: 80px;
                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }
                    .service__inner {
                        background-size: 100px;
                        background-position: 50% 0;
                        padding-top: 130px;
                        background-repeat: no-repeat;
                        &.style--drinks {
                            background-image: url(../img/drinks.png);
                        }
                        &.style--steps {
                            background-image: url(../img/careers.png);
                        }
                        &.style--building {
                            background-image: url(../img/head_office.png);
                        }
                    }
                    h5 {
                        font-family: $boldFont;
                        color: $brandPrimaryTextColour;//#074e25;
                        margin: 0 0 30px;
                        letter-spacing: normal;
                        font-weight: 900;
                    }
                    .content {
                        min-height: 88px;
                        * { font-weight: 600; color: $brandPrimaryTextColour; letter-spacing: 0.1em; }
                    }
                    .cta_button {
                        text-align: center;
                        margin: 30px 0 0;
                        .button {
                            text-transform: uppercase;
                            text-align: center;
                            margin: 0 auto;
                            padding: 11px 60px;
                        }
                    }
                }
            }

            &.block--gallery {
                @media(min-width: 768px) {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                }
                .image {
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    height: 400px;
                    @media(min-width: 768px) {
                        height: 33vw;
                        max-width: 50%;
                    }
                    @media(min-width: 992px) {
                        height: 25vw;
                        max-width: 25%;
                    }
                }
            }
            
            &.block--alternating_blocks {
                background: $offwhite;
                padding-top: 0;
                padding-bottom: 60px;
                margin-top: -30px;
                .block--header {
                    background: $brandPrimaryTextColour;
                    padding: 30px 15px;
                    @media(min-width: 992px) {
                        max-width: 270px;
                        padding: 30px 40px;
                    }
                    .content {
                        h5 {
                            margin-bottom: 20px;
                            font-size: 18pt;
                            line-height: 22pt;
                            b, strong {
                                font-size: 18pt;
                                line-height: 22pt;
                                font-family: $largeText;
                            }
                        }
                        * {
                            // font-family: 'Frank Ruhl Libre', serif;
                            color: #FFF;//#005238;
                            font-family: $mediumFont;//'Frank Ruhl Libre', serif;
                            font-weight: bold;
                            line-height: 18pt;
                            font-size: 14pt;
                            letter-spacing: 0.025em;
                            
                        }
                    }
                }
                .book_button {
                    margin: 60px 0 0px;
                    .button {
                        padding: 11px 60px;
                    }
                }
                .grid__item {
                    .item__inner {
                        background: transparent !important;
                        .image {
                            @media(min-width: 992px) {
                                min-height: 450px;
                            }
                        }
                        .events_content {
                            @media(min-width: 992px) {
                                // min-height: 360px;
                                // max-height: 380px;
                                height: 220px;
                                padding: 40px 60px;
                            }
                            background: $brandAlternateColour;
                            
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            .item__content {
                                text-transform: uppercase;
                                font-weight: 600;
                                * {
                                    font-weight: 600 !important;
                                }
                            }
                            .button_wrapper {
                                a {
                                    color: $brandSecondaryTextColour !important;
                                    // text-transform: uppercase;
                                    font-family: $boldFont !important;
                                }
                            }
                        }
                    }
                }

            }

            &.block--full_screen_menu_block {
                background: #f7f3f0;
                .first {
                    &:before {
                        z-index: 1;
                        @media(max-width: 992px) {
                            max-height: 221px;
                        }
                    }
                    .menu_block {
                        position: relative;
                        z-index: 2;
                    }
                }
                .title { 
                    @media(min-width: 992px) {
                        text-align: left !important; 
                        margin-left: 0 !important; 
                        
                    }
                    max-width: 100% !important; 
                    margin-bottom: 30px !important;
                }
            }
        }
    }
}